@media (min-width:320px) {
    .alternative {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

}

@media (max-width:576px) {
    .social-links {
        display: flex;
        justify-content: center;
    }

    .alternative h4,
    p {
        text-align: center;
    }
}